<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
     <h1>
        1001689246 <br/>
        Balaji, Manasa<br/><br/>

    </h1>
</center>

<table border="1">
    <tr>

    </tr>
    <tr>
        <td>
                Date
            </td>
            <td>
                <center>Lat</center>
            </td>
            <td>
                <center>Long</center>
            </td>
            <td>
                <center>Depth Error</center>
            </td>
        </tr>
    {% for r in result %}

        <tr>
            <td>
                {{ r[0] }}
            </td>
            <td>
                <center>{{ r[1] }}</center>
            </td>
            <td>
                <center>{{ r[2] }}</center>
            </td>
            <td>
                <center>{{ r[9] }}</center>
            </td>
        </tr>
    {% endfor %}
</table>


{% if chart %}
    <embed type="image/svg+xml" src= {{ chart|safe }} />
<!--    <embed type="image/svg+xml" src="/mysvg.svg" /> -->
{% endif %}

<form action="/bar_chart" method="get">
   Chart: <input type="submit" value="Execute">
</form>

</body>
</html>