<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
     <h1>
        1001689246 <br/>
        Balaji, Manasa<br/><br/>

    </h1>
</center>

<table border="1">
    <tr>

    </tr>
    <tr>
        <td>
                Count
            </td>


        </tr>

    {% for r in result %}

        <tr>
            <td>
                {{ r[0] }}
            </td>

        </tr>
    {% endfor %}
</table>
<table border="1">
    <tr>

    </tr>
    <tr>
        <td>
                Range
            </td>


        </tr>

    {% for r in rand1 %}

        <tr>
            <td>
                {{ r[0] }}
            </td>

        </tr>
    {% endfor %}
</table>
<table border="1">
    <tr>

    </tr>
    <tr>
        <td>
                Range
            </td>


        </tr>

    {% for r in rand2 %}

        <tr>
            <td>
                {{ r[0] }}
            </td>

        </tr>
    {% endfor %}
</table>
Times taken for each query:
</body>
</html>