<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<center>
    <h1>
        1001689246 <br/>
        Balaji, Manasa<br/><br/>

    </h1>
    <h2>The number of rows in the file is: {{count}}</h2>

<!--<br/><br/>-->
<!--<form name="query_random" action = "/query_random" method = "get" enctype = "multipart/form-data">-->
<!--    Give a query limit: <input type="text" name="query_limit">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->
<!--<form name="restricted" action = "/restricted" method = "get" enctype = "multipart/form-data">-->
<!--    Enter the number of queries to process: <input type="number" name="query_limit1">-->
<!--    Lower magnitude: <input type="number" name="lowmag">  Higher Magnitude: <input type="number" name="highermag">  <br>-->

<!--    <input type="Submit" value="Search">-->
<!--</form>-->
<!--<form name="redis_cache" action = "/redis_cache" method = "get" enctype = "multipart/form-data">-->
<!--    Give a magnitude value(checking with cache: <input type="text" name="magnitude">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->

<form name="depth_error" action = "/depth_error" method = "get" enctype = "multipart/form-data">
    Depth Range from:<input type="text" name="depth1">
    To: <input type="text" name="depth2">
    Longitude:<input type="text" name="longitude">
    <input type="Submit" value="Search">
</form>

<form name="depth" action = "/depth" method = "get" enctype = "multipart/form-data">
    Depth Range from:<input type="text" name="depth1">
    To: <input type="text" name="depth2">
    Number of times:<input type="text" name="count">
    <input type="Submit" value="Search">
</form>


<br/><br/>
</center>
</body>
</html>