<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<center>
    <h2>
        1001689246 <br/>
        Balaji, Manasa
    </h2>

    </h1>
    <br><br>
</center>
<b>To create a bar chart:</b>
<form action="/chart_bar" method="get">
    Enter the attribute name:<input type="text" name="att" method="get" >
    Enter lower range1<input type="text" name="lrange1" method="get" >
    Enter higher range1<input type="text" name="hrange1" method="get" >
    Enter lower range2<input type="text" name="lrange2" method="get" >
    Enter higher range2<input type="text" name="hrange2" method="get" >
    Enter lower range3<input type="text" name="lrange3" method="get" >
    Enter higher range3<input type="text" name="hrange3" method="get" >
    <input type="submit" value="Execute">
</form>
<br><br>


<!--<form action="/states" method="get">-->
<!--   Chart: <input type="submit" value="Find states">-->
<!--</form>-->


<b>To create a pie chart:</b>
<form action="/chart_pie" method="get">
    Enter the attribute name:<input type="text" name="att" method="get" >
    Enter lower range1<input type="text" name="lrange1" method="get" >
    Enter higher range1<input type="text" name="hrange1" method="get" >
    Enter lower range2<input type="text" name="lrange2" method="get" >
    Enter higher range2<input type="text" name="hrange2" method="get" >
    Enter lower range3<input type="text" name="lrange3" method="get" >
    Enter higher range3<input type="text" name="hrange3" method="get" >
    <input type="submit" value="Execute">
</form>
<br><br>
<b>To create a scatter chart:</b>

<form action="/chart_xy" method="get">
    Enter the attribute name:<input type="text" name="att" method="get" >
    Enter lower range1<input type="text" name="lrange1" method="get" >
    Enter higher range1<input type="text" name="hrange1" method="get" >
    Enter lower range2<input type="text" name="lrange2" method="get" >
    Enter higher range2<input type="text" name="hrange2" method="get" >
    Enter lower range3<input type="text" name="lrange3" method="get" >
    Enter higher range3<input type="text" name="hrange3" method="get" >
    <input type="submit" value="Execute">
</form>
<!--<form action="/states" method="get">-->
<!--   Chart: <input type="submit" value="Find states">-->
<!--<form action="/bar_chart" method="get">-->
<!--   Chart: <input type="submit" value="Execute">-->
<!--</form>-->

<!--<form name="pop_pie" action = "/pop_pie" method = "get" enctype = "multipart/form-data">-->
<!--Give a range: <input type="text" name="range">-->
<!--   <input type="Submit" value="Search">-->
<!--</form>-->

<!--<form action="/bar_chart" method="get">-->
<!--   Chart: <input type="submit" value="Execute">-->
<!--</form>-->

<!--<form name="pop_pie" action = "/pop_pie" method = "get" enctype = "multipart/form-data">-->
<!--Give a range: <input type="text" name="range">-->
<!--   <input type="Submit" value="Search">-->
<!--</form>-->

<!--<form action="/scatter" method="get">-->
<!--   Chart: <input type="submit" value="Scatter">-->
<!--</form>-->


<!--<form name="depth_error" action = "/depth_error" method = "get" enctype = "multipart/form-data">-->
<!--    Depth Range from:<input type="text" name="depth1">-->
<!--    To: <input type="text" name="depth2">-->
<!--    Longitude:<input type="text" name="longitude">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->

<!--<form name="depth" action = "/depth" method = "get" enctype = "multipart/form-data">-->
<!--    Depth Range from:<input type="text" name="depth1">-->
<!--    To: <input type="text" name="depth2">-->
<!--    Number of times:<input type="text" name="count">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->
<!--<form action="/scatter" method="get">-->
<!--   Chart: <input type="submit" value="Scatter">-->
<!--</form>-->

    <br><a href="ques1"><b>Question 1</b></a>
     <br>   <a href="ques2"><b>Question 2</b></a>
    <br><a href="ques3"><b>Question 3</b></a>




<!--<form name="depth_error" action = "/depth_error" method = "get" enctype = "multipart/form-data">-->
<!--    Depth Range from:<input type="text" name="depth1">-->
<!--    To: <input type="text" name="depth2">-->
<!--    Longitude:<input type="text" name="longitude">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->

<!--<form name="depth" action = "/depth" method = "get" enctype = "multipart/form-data">-->
<!--    Depth Range from:<input type="text" name="depth1">-->
<!--    To: <input type="text" name="depth2">-->
<!--    Number of times:<input type="text" name="count">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->




<!--Question 7:-->
<!--<form name="question7_new" action = "/depth" method = "get" enctype = "multipart/form-data">-->
<!--    Depth Range from:<input type="text" name="depth1">-->
<!--    To: <input type="text" name="depth2">-->
<!--    Number of times:<input type="text" name="count">-->
<!--    <br>-->
<!--    Choose to use in-memory caching or not(yes/no):<input type="text" name="option">-->

<!--    <input type="Submit" value="Search">-->
<!--</form>-->



<!--Question 8:-->
<!--<form name="redis_cache_new" action = "/redis_cache_new" method = "get" enctype = "multipart/form-data">-->
<!--    Depth Range from:<input type="text" name="depth1">-->
<!--    To: <input type="text" name="depth2">-->
<!--    Number of times:<input type="text" name="count">-->
<!--    <input type="Submit" value="Search">-->
<!--</form>-->
<br/><br/>
</body>
</html>