<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restricted</title>
</head>
<body>

<center>
     <h1>
        1001689246 <br/>
         Balaji, Manasa<br/><br/></h1>
        <!-- Number of Earthquakes for your given range are: {{ count }} -->

         <br>
         <h2>Question 1 </h2>
        The average total time required to execute the restricted queries is {{ time_taken }} seconds

    <br><br>
<table border="1">
    <tr>

        <th>Time taken for each query</th>
    </tr>

        <tr>
            <td>
                {{ list_of_times }}
            </td>

        </tr>

</table>

</center>
</body>
</html>