<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <center>
    <h2>
        1001689246 <br/>
        Balaji, Manasa
    </h2>
</center>
<br>
        The average total time required to execute the restricted queries is {{ time_taken }} seconds
    </h1>

 <br><br>

<table border="1">
    <tr>

        <th>Time taken for each query</th>
    </tr>

        <tr>
            <td>
                {{ list_of_times }}
            </td>

        </tr>

</table>
</body>
</html>