<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>
        1001689246 <br/>
        Balaji, Manasa<br/><br/>
        <!-- Number of Earthquakes for your given range are: {{ count }} -->
        The average total time required to execute the restricted queries is {{ time_taken }} seconds
 <!-- Number of Earthquakes for your given range are: {{ count }} -->
    </h1>


<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Place</th>-->
<!--        <th>Distance(in miles)</th>-->
<!--    </tr>-->
<!--    {% for place in places %}-->
<!--        <tr>-->
<!--            <td>-->
<!--                {{ place[0] }}-->
<!--            </td>-->
<!--            <td>-->
<!--                <center>{{ place[1] }}</center>-->
<!--            </td>-->
<!--        </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
</body>
</html>