<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<center>
    <h1>
        1001689246 <br/>
        Balaji, Manasa<br/><br/>
    </h1>
</center>

{#<form action="/question1_execute" method="get">#}
{#    Enter magnitude<input type="text" name="mag" method="get" >#}
{#    Enter type of operation: <select name="oper">#}
{#                      <option value="<"><</option>#}
{#                      <option value=">">></option>#}
{#                      <option value="=">=</option>#}
{#                    </select>#}
{#    with cache?: <select name="form">#}
{#                      <option value="no">no</option>#}
{#                      <option value="yes">yes</option>#}
{#                    </select>#}
{#    <input type="submit" value="Execute">#}
{#    <input type="submit" name= "form" value="ExecuteCache" />#}
{#</form>#}

{% if chart %}
    <embed type="image/svg+xml" src= {{ chart|safe }} />
<!--    <embed type="image/svg+xml" src="/mysvg.svg" /> -->
{% endif %}





{#{% if line%}#}
{#    <embed type="image/svg+xml" src= {{ line|safe }} />#}
{#{% endif %}#}



</body>
</html>