<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>State Pop</title>
</head>
<body>
<center>
    <h1>
        1001689246 <br/>
        Balaji, Manasa<br/><br/>
    </h1>
</center>
<h3>Between 2 to 8 million:</h3>
{{pop1}}
<!--    {% for row in result1 %}-->


<!--<table>-->
<!--    <tr>-->
<!--        <td>-->
<!--          {{row[0]}}-->
<!--        </td>-->
<!--    </tr>-->
<!--        {% endfor %}-->

<!--</table>-->

<h3>Between 8 to 40 million:</h3>
{{pop2}}
<!--    {% for r in result2 %}-->

<!--<table>-->
<!--    <tr>-->
<!--        <td>-->
<!--          {{r[0]}}-->
<!--        </td>-->

<!--    </tr>-->
<!--        {% endfor %}-->

<!--</table>-->

</body>
</html>